@import url('../../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Philosopher&display=swap');

.PostImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
        
}
.actions{
    color:rgb(65, 2, 76);
}

.card{
    width: 100%;
    height: 100%;    
    
    background-color: white;
    position: relative;
    border: none;
}

h3,p,span{
    margin : 2rem;
}

.card-body{
    width: 100%;
    height: 100%;
    background-color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white 10%, rgba(216, 211, 211, 0.5) 70%, white 100%);
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    border: 2px solid rgb(255, 255, 255);
    

}


.card-body{
    font-family:'Philosopher', sans-serif;
    font-size: 15px;
    color:rgba(17, 58, 87, 0.029);
}


@media screen and (max-width:746px){
    .PostImage{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .actions{
        margin-top: -10px;
        display: grid;        
        font-size: 10px;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;

    
    }
    .card-body{
        display: grid  ;
        grid-template-columns:1fr;
    }

}
p.card-content{
    color:black
}

@media screen and (max-width: 400px){
    body{
        margin: 0;
        padding: 0;      
    }
    p.card-content{
        font-size: 12px;
    }
    .actions>span{
        display: inline-block;
        margin: 0 0.5rem;
        margin-top: 12px;
    }
      


}
span>.bottom-action{
    border:none;
    border-radius: 5px;
    background-color: rgb(250, 250, 227);
}
span>.bottom-action:hover{
    background-color: rgb(81, 175, 166);
    color: rgb(65, 2, 76);
    cursor: pointer;
}
/* spinner */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #090102;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  