@import 'bootstrap/dist/css/bootstrap.min.css';
.page-container {
    position: relative;
    min-height: 100vh;
  }
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
img{
  object-fit: cover;
}