#file:hover{
    cursor: pointer;
    
    border: 2px solid rgb(1, 99, 24);

}
#file{
    border-radius: 70%;

}
#new,#old,#confirm{
    width: 80%;
}

@media screen and (max-width: 900px){
    #new,#old,#confirm{
        width: 100%;
    }
}

.details{
    color:black
}
.user-activity{
    color: black;
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-header{
    background-color: white !important;
    /* no hr */
    border-bottom: 0px !important;
}
.btn-follow{
    background-color: rgb(242, 249, 247);
    color: rgb(80, 136, 200);
    border: 1px solid rgb(80, 136, 200);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    margin-top: 10px;
}
