#file:hover{
    cursor: pointer;
    
    border: 2px solid rgb(1, 99, 24);

}
#file{
    border-radius: 70%;

}
#new,#old,#confirm{
    width: 70%;
}

@media screen and (max-width: 900px){
    #new,#old,#confirm{
        width: 100%;
    }
}

.details{
    color:black
}
.user-activity{
    color: black;
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-header{
    background-color: white !important;
    /* no hr */
    border-bottom: 0px !important;
}
